form{
    padding: 20px;
}
form input[name="city"],
form input[name="country"]{
    background-color: transparent;
    border-bottom: 2px solid black !important;
    border-radius: 0;
    border:0;
}
form input:focus{
    box-shadow: none !important;
    background-color: transparent !important;
}
